In [1]:
## Naming convention : 
#MMCSD - Mismatched categories sample drop(based on mismatch in categories in train and test data)
#ZVCD - Sero variance column drop (based on the zero var columns of training data)
#le   - Label encoded data
#pca  - principle component analyzed data


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_train=pd.read_csv("train.csv")
df_test=pd.read_csv("test.csv")

In [2]:
df_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [4]:
print("df_train.shape=",df_train.shape)
print("df_test.shape=",df_test.shape)

df_train.shape= (4209, 378)
df_test.shape= (4209, 377)

In [5]:
df_train.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
df_test.describe()

,ID,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4211.039202,0.019007,0.000238,0.074364,0.061060,0.427893,0.000713,0.002613,0.008791,0.010216,...,0.325968,0.049656,0.311951,0.019244,0.011879,0.008078,0.008791,0.000475,0.000713,0.001663
std,2423.078926,0.136565,0.015414,0.262394,0.239468,0.494832,0.026691,0.051061,0.093357,0.100570,...,0.468791,0.217258,0.463345,0.137399,0.108356,0.089524,0.093357,0.021796,0.026691,0.040752
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2115.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4202.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6310.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8416.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
##Checking for nan in the data set
print("total nan in train data set=",df_train.isna().sum().sum())
print("total nan in test data set=",df_test.isna().sum().sum())

total nan in train data set= 0
total nan in test data set= 0

In [8]:
#Check if any nan are present in any column of the data
#Note this part is not required if the previous total nan count in the entire dataset gives 0
##--------We have kept this code here to reuse it for other cases as required
count_nan_cols=0
for col in df_train.columns:
    if (df_train[col].isna().sum())!=0:    
        print(col)
        count_nan_cols+=1
print("# cols containing nan in the training data=",count_nan_cols)

count_nan_cols_test=0
for col_test in df_test.columns:
    if (df_test[col_test].isna().sum())!=0:    
        print(col_test)
        count_nan_cols_test+=1
print("# cols containing nan in the test data=",count_nan_cols_test)

# cols containing nan in the training data= 0
# cols containing nan in the test data= 0

In [9]:
type(df_train.columns)
df_train.columns

Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=378)

In [10]:
#---------------checking the features and cols in the train and test data set-------------
#extracting the cols from the two data frames in two lists
train_cols=list(df_train.columns)
test_cols=list(df_test.columns)
#checking the length of the lists just creted
print("# cols in the train data:",len(train_cols))
print("# cols in the test data:",len(test_cols))

#removing the target variable from the train data set, so that comparing the features becomes easy
train_cols.remove('y')
print("len train_cols removing target var:",len(train_cols))

# getting the unique elements of the lists by converting them to two sets
set(train_cols)
set(test_cols)
#checking the number of unique elements in the sets 
print("#unique features in training data after removing target var:",len(set(train_cols)))
print("#unique features in test data :",len(set(test_cols)))

if (set(train_cols) == set(test_cols)):
    print("The features in the train and the test data set are identical")
else:
    print(("the features in the train and the test data set are NOT identical, further processing required"))

# cols in the train data: 378
# cols in the test data: 377
len train_cols removing target var: 377
#unique features in training data after removing target var: 377
#unique features in test data : 377
The features in the train and the test data set are identical

In [11]:
##----------------Checking mismatch in categorical featues and values-----------------
##creating dictionaries of categorical values in train and test data set
#----------------For Train Data----------------------
cat_col=[]
for col in df_train.columns:
    if df_train.dtypes[col]=='object':
        cat_col.append(col)

values=np.empty(len(cat_col), dtype=int)
for i in range(len(cat_col)):     
    values[i]= len(df_train[cat_col[i]].unique())

print("cat_col_train:",cat_col)    
print("values_train:",values)
dict_cat_train = dict(zip(cat_col, values))
print("dict_cat_train=",dict_cat_train)

#----------------For test data----------------------

cat_col_=[]
for col_ in df_test.columns:
    if df_test.dtypes[col_]=='object':
        cat_col_.append(col_)

values_=np.empty(len(cat_col_), dtype=int)
for j in range(len(cat_col_)):     
    values_[j]= len(df_test[cat_col_[j]].unique())

print("cat_col_test:",cat_col_)    
print("values_test:",values_)
dict_cat_test = dict(zip(cat_col_, values_))
print("dict_cat_test=",dict_cat_test)

##--------------Checking for any mismatch in the keys and it's values---------------------
mismatch_key=[]
for key in dict_cat_train:
    if key in dict_cat_test.keys():        
        if (dict_cat_train[key]==dict_cat_test[key]):
            continue
        else:
            print(key,dict_cat_train[key],dict_cat_test[key])
            mismatch_key.append(key)
    else:
        print("There's a mismatch in categorical features in train and test data, further preprocessing required")
        break

print("mismatch_key:",mismatch_key)

cat_col_train: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']
values_train: [47 27 44  7  4 29 12 25]
dict_cat_train= {'X0': 47, 'X1': 27, 'X2': 44, 'X3': 7, 'X4': 4, 'X5': 29, 'X6': 12, 'X8': 25}
cat_col_test: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']
values_test: [49 27 45  7  4 32 12 25]
dict_cat_test= {'X0': 49, 'X1': 27, 'X2': 45, 'X3': 7, 'X4': 4, 'X5': 32, 'X6': 12, 'X8': 25}
X0 47 49
X2 44 45
X5 29 32
mismatch_key: ['X0', 'X2', 'X5']

In [12]:
##-----Collect the categorical features in the test set which are not in the train set
## We need to drop these as the model trained on the train set won't learn anything about these features anyway
## So dropping these would improve the computational efficiency of prediction 
s=[]
for key in mismatch_key:
    cat_train_unique=df_train[key].unique()
    cat_test_unique=df_test[key].unique()    
    s.append([ x for x in cat_test_unique if x not in cat_train_unique])
    print("len(df_train[key].unique()):",len(df_train[key].unique()))
    print("len(df_test[key].unique()):",len(df_test[key].unique()))


print("len(s[0]):",len(s[0]))
print("s[0]:",s[0])
print("len(s[1]):",len(s[1]))
print("s[1]:",s[1])
print("len(s[2]):",len(s[2]))
print("s[2]:",s[2])

##-----mismatch_key is the list containing the list of features with mismatch
##------s is a list containing the mismatches corresponding to the mismatched features in the list mismatch_key
## SO creating a dictionary out of it

dict_mismatch = dict(zip(mismatch_key, s))

len(df_train[key].unique()): 47
len(df_test[key].unique()): 49
len(df_train[key].unique()): 44
len(df_test[key].unique()): 45
len(df_train[key].unique()): 29
len(df_test[key].unique()): 32
len(s[0]): 6
s[0]: ['av', 'ag', 'an', 'ae', 'p', 'bb']
len(s[1]): 6
s[1]: ['aj', 'ax', 'ab', 'w', 'ad', 'u']
len(s[2]): 4
s[2]: ['t', 'b', 'a', 'z']

In [13]:
dict_mismatch

{'X0': ['av', 'ag', 'an', 'ae', 'p', 'bb'],
 'X2': ['aj', 'ax', 'ab', 'w', 'ad', 'u'],
 'X5': ['t', 'b', 'a', 'z']}

In [14]:
##---Just checking of all the avove codes yeild right results :-P
df_train['X0'].unique()

array(['k', 'az', 't', 'al', 'o', 'w', 'j', 'h', 's', 'n', 'ay', 'f', 'x',
       'y', 'aj', 'ak', 'am', 'z', 'q', 'at', 'ap', 'v', 'af', 'a', 'e',
       'ai', 'd', 'aq', 'c', 'aa', 'ba', 'as', 'i', 'r', 'b', 'ax', 'bc',
       'u', 'ad', 'au', 'm', 'l', 'aw', 'ao', 'ac', 'g', 'ab'],
      dtype=object)

In [15]:
df_test['X0'].unique()

array(['az', 't', 'w', 'y', 'x', 'f', 'ap', 'o', 'ay', 'al', 'h', 'z',
       'aj', 'd', 'v', 'ak', 'ba', 'n', 'j', 's', 'af', 'ax', 'at', 'aq',
       'av', 'm', 'k', 'a', 'e', 'ai', 'i', 'ag', 'b', 'am', 'aw', 'as',
       'r', 'ao', 'u', 'l', 'c', 'ad', 'au', 'bc', 'g', 'an', 'ae', 'p',
       'bb'], dtype=object)

In [16]:
#deleting from the test data the samples containing the categorical features
#which are not present in the training data

df_test_MismatchCatSampleDrop=df_test

for key, value in dict_mismatch.items():
    print("key=",key,"value=", value)
    mask=df_test_MismatchCatSampleDrop[key].isin(value)
    df_test_MismatchCatSampleDrop=df_test_MismatchCatSampleDrop[~mask]

#print(mask.shape)
df_test_MismatchCatSampleDrop.shape

key= X0 value= ['av', 'ag', 'an', 'ae', 'p', 'bb']
key= X2 value= ['aj', 'ax', 'ab', 'w', 'ad', 'u']
key= X5 value= ['t', 'b', 'a', 'z']

(4185, 377)

In [17]:
#dx0=df_test_MismatchCatSampleDrop['X5'].unique()
#lx0=df_train['X5'].unique()
#type(lx0)
#lx0
#dx0.shape

In [18]:
#count=0
#for x in dx0:
#    if (x not in lx0):
#        print("error :",x)
#    else:
#        count+=1
#        print("match:",count)

In [19]:
print("shape of original test dataset:",df_test.shape)
print("shape of the test data after removal of mismatched samples:",df_test_MismatchCatSampleDrop.shape)

shape of original test dataset: (4209, 377)
shape of the test data after removal of mismatched samples: (4185, 377)

In [20]:
# SO TILL NOW WE HAVE CHECKED FOR nans, FOUND AND REMOVED MISMATCHED CATEGORIES FROM THE TEST DATA
# NEXT WE FIND THE zERO VAR COLUMNS IN TRAINING DATA AND REMOVE THE SAME FROM THE TESTING DATA

In [21]:
cat_features=[i for i in df_train.columns if df_train.dtypes[i]=='object']
cat_features

['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

In [22]:
binary_features = [x for x in df_train.columns if x not in cat_features]
print("len(cat_features)",len(cat_features))
print("len(df_train.columns)",len(df_train.columns))
print("len(binary_features)", len(binary_features))
## Note here this way the list of binary features we get will contain
#the unnecessary label 'ID' and the target var 'y'. We have to drop it later

len(cat_features) 8
len(df_train.columns) 378
len(binary_features) 370

In [23]:
#BEFORE DROPPING THE LABEL 'ID' AND THE TARGET VARIABLE 'y' LETS SAVE THE TARGET VARIABLE AS y_train FOR LATER USE
y_train= df_train['y']
print("shape of y=", y_train.shape)

shape of y= (4209,)

In [24]:
##Collect the unnecessary features like ID and the zero var columns form the train data 
zero_var_cols=[col for col in binary_features if df_train[col].var()==0]
print("# zero var features",len(zero_var_cols))
drop_cols_traindata=["ID"]+["y"]+zero_var_cols
print("#cols to be dropped from the train data set, 'ID' + 'y' + zerovar cols:",len(drop_cols_traindata))

# zero var features 12
#cols to be dropped from the train data set, 'ID' + 'y' + zerovar cols: 14

In [25]:
print(drop_cols_traindata)

['ID', 'y', 'X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']

In [26]:
# We will later use the list drop_cols_traindata to drop columns from the test data as well, 'y' won't be used though.
#also we will use this list to drop from  df_test_MismatchCatSampleDrop ie after processing for the mismatch smaple drop

In [27]:
## dropping the evaluated cols in 'drop_cols_traindata'
# ZVCD here means zero var col dropped , also intrinsically contains the 'ID' and target var 'y; drop
#df_train_ZVCD=df_train.drop(columns=drop_cols_traindata,axis=1)
#df_train_ZVCD.head()

In [28]:

#We have calculated the following:
# saved the target variable in : y_train
# categorical features: cat_features
# numerical features (here binary): binary_features
# The zero variance columns : zero_var_cols
# The numerical columns that can be dropped : drop_cols_traindata=["ID"]+["y"]+zero_var_cols
# So the way ahead is to split the train data into categorical and numerical dataframes
# dropping the drop_cols_traindata from the numerical features
# scaling and pca on the remaining numerical features
# label encoding the categorical features
# stacking up the columns to form the final train set

#NOTE: We need not worry about some categories mising from the test data because we specifically took care
#of that by removing the mismatched categories from the test data set. So the fit on the train set 
#can be used to transform not only the train set but the test set as well without any worries

In [29]:
#Label encoding the categorical features of the training data
#from sklearn.preprocessing import LabelEncoder
#from sklearn.compose import ColumnTransformer

In [30]:
"""
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)
"""

"\nclass MultiColumnLabelEncoder:\n    def __init__(self,columns = None):\n        self.columns = columns # array of column names to encode\n\n    def fit(self,X,y=None):\n        return self # not relevant here\n\n    def transform(self,X):\n        '''\n        Transforms columns of X specified in self.columns using\n        LabelEncoder(). If no columns specified, transforms all\n        columns in X.\n        '''\n        output = X.copy()\n        if self.columns is not None:\n            for col in self.columns:\n                output[col] = LabelEncoder().fit_transform(output[col])\n        else:\n            for colname,col in output.iteritems():\n                output[colname] = LabelEncoder().fit_transform(col)\n        return output\n\n    def fit_transform(self,X,y=None):\n        return self.fit(X,y).transform(X)\n"

In [31]:
#print(cat_features)

In [32]:
# suffix ZVCD_le denotes zero var column dropped(along with 'y' and 'ID') and label encoded for categories
#df_train_ZVCD_le=MultiColumnLabelEncoder(columns = cat_features).fit_transform(df_train_ZVCD)
#df_train_ZVCD_le.head()

In [33]:
#just checking for any zero var cols (unnecessay I know but still wanted to check out the command )
#zero_var_cols_temp=[col for col in df_train_ZVCD_le.columns if df_train_ZVCD_le[col].var()==0]
#type(zero_var_cols_temp)
#df_train_le.head()
#print("check: number of zero var cols now",len(zero_var_cols_temp))

In [34]:
## Now we apply PCA to the numerical features, but first we apply scaling on the numerical features
## I plan to finally have 10 numerical featues and retain all the categorical featues , SO 10+8=18 in total
## So I proceed in that direction

In [35]:
print("Len of binary features:",len(binary_features))
print("# Zero var + ID+y:",len(drop_cols_traindata))
print(type(binary_features))
print(type(drop_cols_traindata))

Len of binary features: 370
# Zero var + ID+y: 14
<class 'list'>
<class 'list'>

In [36]:
binary_features_ZV = [x for x in binary_features if x not in drop_cols_traindata]
print("len of binary_features_ZV",len(binary_features_ZV))

len of binary_features_ZV 356

In [37]:
##Splitting the df_train into categorical and numerical features

df_train_cat=df_train[cat_features] 
df_train_num_ZVCD=df_train[binary_features_ZV]

In [38]:
df_train_cat

      X0 X1  X2 X3 X4  X5 X6 X8
0      k  v  at  a  d   u  j  o
1      k  t  av  e  d   y  l  o
2     az  w   n  c  d   x  j  x
3     az  t   n  f  d   x  l  e
4     az  v   n  f  d   h  d  n
...   .. ..  .. .. ..  .. .. ..
4204  ak  s  as  c  d  aa  d  q
4205   j  o   t  d  d  aa  h  h
4206  ak  v   r  a  d  aa  g  e
4207  al  r   e  f  d  aa  l  u
4208   z  r  ae  c  d  aa  g  w

[4209 rows x 8 columns]

In [39]:
df_train_num_ZVCD

,X10,X12,X13,X14,X15,X16,X17,X18,X19,X20,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,0,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4205,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,0,1,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4207,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4208,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0

In [40]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data=scaler.fit_transform(df_train_num_ZVCD)

In [41]:
df_train_num_ZVCD.head()

,X10,X12,X13,X14,X15,X16,X17,X18,X19,X20,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,0,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
scaled_data

array([[-0.11612161, -0.28490583,  4.03112887, ..., -0.04081511,
        -0.02180363, -0.03778296],
       [-0.11612161, -0.28490583, -0.24806947, ..., -0.04081511,
        -0.02180363, -0.03778296],
       [-0.11612161, -0.28490583, -0.24806947, ..., -0.04081511,
        -0.02180363, -0.03778296],
       ...,
       [-0.11612161,  3.50993166,  4.03112887, ..., -0.04081511,
        -0.02180363, -0.03778296],
       [-0.11612161, -0.28490583, -0.24806947, ..., -0.04081511,
        -0.02180363, -0.03778296],
       [-0.11612161, -0.28490583, -0.24806947, ..., -0.04081511,
        -0.02180363, -0.03778296]])

In [43]:
scaled_data[:,0]

array([-0.11612161, -0.11612161, -0.11612161, ..., -0.11612161,
       -0.11612161, -0.11612161])

In [44]:
from sklearn.decomposition import PCA

In [45]:
pca=PCA(n_components= 10)

In [46]:
pca.fit(scaled_data)

PCA(n_components=10)

In [47]:
scaled_data.shape

(4209, 356)

In [48]:
train_num_ZVCD_pca=pca.transform (scaled_data)

In [49]:
print(" shape of train_num_ZVCD_pca:",train_num_ZVCD_pca.shape)
print("type of train_num_ZVCD_pca",type(train_num_ZVCD_pca))

 shape of train_num_ZVCD_pca: (4209, 10)
type of train_num_ZVCD_pca <class 'numpy.ndarray'>

In [50]:
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
d = defaultdict(LabelEncoder)
# Encoding the categorical variables in the training data
df_train_cat_le = df_train_cat.apply(lambda x: d[x.name].fit_transform(x))

# Inverse the encoded
#fit.apply(lambda x: d[x.name].inverse_transform(x))

# Using the dictionary to label future data
#df.apply(lambda x: d[x.name].transform(x))

In [51]:
df_train_cat_le

      X0  X1  X2  X3  X4  X5  X6  X8
0     32  23  17   0   3  24   9  14
1     32  21  19   4   3  28  11  14
2     20  24  34   2   3  27   9  23
3     20  21  34   5   3  27  11   4
4     20  23  34   5   3  12   3  13
...   ..  ..  ..  ..  ..  ..  ..  ..
4204   8  20  16   2   3   0   3  16
4205  31  16  40   3   3   0   7   7
4206   8  23  38   0   3   0   6   4
4207   9  19  25   5   3   0  11  20
4208  46  19   3   2   3   0   6  22

[4209 rows x 8 columns]

In [52]:
data_train_cat_le=df_train_cat_le.to_numpy()
print(" shape of data_train_cat_le:",data_train_cat_le.shape)
print("type of data_train_cat_le",type(data_train_cat_le))

 shape of data_train_cat_le: (4209, 8)
type of data_train_cat_le <class 'numpy.ndarray'>

In [53]:
######creating the final training data with 18 features and 4209 rows########
#############################################################################
#############################################################################
train_data_ZVCD_le_pca=np.column_stack((data_train_cat_le,train_num_ZVCD_pca))
#############################################################################
#############################################################################
#############################################################################

In [54]:
train_data_ZVCD_le_pca.shape

(4209, 18)

In [55]:
train_data_ZVCD_le_pca

array([[ 32.        ,  23.        ,  17.        , ...,  -3.96267861,
        -16.1745268 ,  -7.39802319],
       [ 32.        ,  21.        ,  19.        , ...,  -0.6003357 ,
         -0.58130111,   0.07980688],
       [ 20.        ,  24.        ,  34.        , ...,   3.40565482,
         -0.9128339 ,  -1.2823817 ],
       ...,
       [  8.        ,  23.        ,  38.        , ...,  -3.30751712,
         -0.11318905,  -1.92851305],
       [  9.        ,  19.        ,  25.        , ...,  -0.15898065,
         -0.96057604,  -1.17294657],
       [ 46.        ,  19.        ,   3.        , ...,  -1.7119534 ,
         -0.47247512,   0.51897884]])

In [56]:
##create the final test data, so from df_test_MismatchCatSampleDrop drop 
#the zero var colums +ID (y not present in df_test anyway) 
#Then after the zero var cols +ID are dropped then perform the label encoding on cat_features and scaling and pca on the 
#num features . USe the same models for label encoding, scaling and pca as for the train data.

In [57]:
df_test

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,aj,h,as,f,d,aa,j,e,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,t,aa,ai,d,d,aa,j,y,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,y,v,as,f,d,aa,d,w,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,ak,v,as,a,d,aa,c,q,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,t,aa,ai,c,d,aa,g,r,0,...,1,0,0,0,0,0,0,0,0,0

In [58]:
##Splitting the df_train into categorical and numerical features

df_test_MMSCD_cat=df_test_MismatchCatSampleDrop[cat_features] 
df_test_MMSCD_num_ZVCD=df_test_MismatchCatSampleDrop[binary_features_ZV]

In [59]:
df_test_MMSCD_cat.head()

   X0  X1  X2 X3 X4 X5 X6 X8
4   w   s  as  c  d  y  i  m
5   y  aa  ai  e  d  x  g  s
6   x   b  ae  d  d  x  d  y
7   f   s  ae  c  d  h  d  a
8  ap   l   s  c  d  h  j  n

In [60]:
df_test_MMSCD_num_ZVCD.head()

,X10,X12,X13,X14,X15,X16,X17,X18,X19,X20,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
4,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
7,0,0,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
##---Label encoding the categorical features of the test data using the fit evaluated with the training data
df_test_MMSCD_cat_le=df_test_MMSCD_cat.apply(lambda x: d[x.name].transform(x))

In [62]:
df_test_MMSCD_cat_le

      X0  X1  X2  X3  X4  X5  X6  X8
4     43  20  16   2   3  28   8  12
5     45   1   7   4   3  27   6  18
6     44   3   3   3   3  27   3  24
7     27  20   3   2   3  12   3   0
8     12  13  39   2   3  12   9  13
...   ..  ..  ..  ..  ..  ..  ..  ..
4204   7   9  16   5   3   0   9   4
4205  40   1   7   3   3   0   9  24
4206  45  23  16   5   3   0   3  22
4207   8  23  16   0   3   0   2  16
4208  40   1   7   2   3   0   6  17

[4185 rows x 8 columns]

In [63]:
## ---Scaling the numerical test data (after removal of the zero var columns and ID) using the fit from the train data
test_num_MMSCD_ZVCD_scaled_data=scaler.transform(df_test_MMSCD_num_ZVCD)

In [64]:
test_num_MMSCD_ZVCD_scaled_data.shape

(4185, 356)

In [65]:
##   transforming the test data using the pca which has been evaluated using fit on the training data
test_num_MMSCD_ZVCD_pca=pca.transform (test_num_MMSCD_ZVCD_scaled_data)

In [66]:
test_num_MMSCD_ZVCD_pca

array([[-1.9584105 ,  0.0827735 ,  5.75870183, ...,  2.31608133,
         0.26109106,  1.47067405],
       [-1.48598251, -1.39379864, -3.85614273, ...,  4.63026889,
         0.24587839, -1.99742232],
       [-1.1142103 , -2.38331161, -4.7814601 , ..., -2.24205045,
        -0.34633022,  2.6120531 ],
       ...,
       [-2.68090926,  0.20998986,  2.99055944, ...,  1.12012304,
        -0.27057804,  0.11804997],
       [-1.55676067, -0.06722374,  3.93751913, ...,  0.66527798,
         0.75261064,  1.14281841],
       [-1.16582868, -1.6701871 , -3.35659598, ...,  4.45510122,
         0.18718552, -1.40042986]])

In [67]:
data_test_MMSCD_cat_le=df_test_MMSCD_cat_le.to_numpy()
print(" shape of data_test_MMSCD_cat_le:",data_test_MMSCD_cat_le.shape)
print("type of data_test_MMSCD_cat_le",type(data_test_MMSCD_cat_le))

 shape of data_test_MMSCD_cat_le: (4185, 8)
type of data_test_MMSCD_cat_le <class 'numpy.ndarray'>

In [68]:
######creating the final training data with 18 features and 4209 rows########
#############################################################################
#############################################################################
test_data_MMSCD_ZVCD_le_pca=np.column_stack((data_test_MMSCD_cat_le,test_num_MMSCD_ZVCD_pca))
#############################################################################
#############################################################################
#############################################################################

In [69]:
test_data_MMSCD_ZVCD_le_pca.shape

(4185, 18)

In [70]:
# Fitting Random Forest Regression to the dataset
# importing the regressor
from sklearn.ensemble import RandomForestRegressor
  
# creating the regressor object
regressor = RandomForestRegressor(n_estimators = 50, random_state = 0)
  
# fitting the regressor with x and y data
regressor.fit(train_data_ZVCD_le_pca, y_train)

RandomForestRegressor(n_estimators=50, random_state=0)

In [71]:
y_pred_RF = regressor.predict(test_data_MMSCD_ZVCD_le_pca)

In [74]:
print(y_pred_RF)

[111.8303      90.29003333 110.79216    ...  95.2808     109.062
  92.04746667]